{% extends 'base.html.twig' %}

{% block title %}Ajouter un partenaire
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/add_user.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
	<div class="container">
		<form>

			<h2 class="formTitle">
				Ajouter un nouveau partenaire :
			</h2>

			<div class="inputDiv">
				<label class="inputLabel" for="partner-city">Nom de la ville :</label>
				<input type="text" id="partner-city" name="partner_city"/>
			</div>

			<div class="inputDiv">
				<label class="inputLabel" for="partner-mail">Entrez votre mail :</label>
				<input type="email" id="partner-mail" name="partner_mail"/>
			</div>

			<button type="submit" class="btn btn-dark">Valider</button>
			<input type="hidden" name="partner_new" value="new"/>
		</form>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
  <script src="{{ asset('js/ajax/partner_new.js') }}"></script>
{% endblock %}
